<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.ltwc.cft"
    android:versionCode="1"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 杀死后台进程需要的权限 -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <!-- xwalkView需要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="cn.ltwc.cft.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cn.ltwc.cft.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.ltwc.cft.activity.NotepadActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.ltwc.cft.activity.MemorialDayActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.ltwc.cft.activity.MoreActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.ltwc.cft.activity.PhoneActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.ltwc.cft.activity.MyWebViewActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.ltwc.cft.activity.JokeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.ltwc.cft.activity.ZhaiNaniActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.ltwc.cft.activity.TodayonhistoryWebDitailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.ltwc.cft.activity.AddNoteActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
        </activity>
        <activity
            android:name="cn.ltwc.cft.activity.TodayonhistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.ltwc.cft.activity.HistoryDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.ltwc.cft.activity.DayDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.ltwc.cft.activity.ShowImageGallery"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.ltwc.cft.activity.HistoryDetailJUHEActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.ltwc.cft.activity.MyXWalkView"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <meta-data
            android:name="cn.ltwc.cft.utils.MyGlideModule"
            android:value="GlideModule" />
        <!-- Glide是允许多个设置Model的所以必然会有冲突（如果有多个lib项目的话），可以使用 -->
        <!-- <meta-data android:name="cn.ltwc.cft.utils.MyGlideModule" tools:node=”remove” /> -->
        <!-- 来避免这一类的问题 -->

    </application>

</manifest>